


<div class="outline-rev">



  <ng-container *ngIf="key; else elseTemplate">
    

  <button class="button" type="button" (click)="startGame(key)" > JOIN GAME </button> 

  </ng-container>
  <ng-template #elseTemplate>

  <button class="button join" type="button" (click)="startGame(key)" > START NEW GAME </button> 
    
  </ng-template>


<br>



  



  <div class>


      <h4> 
        <br>
          Active games
    
      </h4>
    

      <div *ngIf="gameService.games.length ==0" class="outline-rev">

        No Active games


      </div>
  <div *ngFor="let game of gameService.games" >

  <button class="button join small" type="button" (click)="startGame(game.key)"  >  JOIN {{game.key}} </button> 
  

  </div>
  
</div>

</div>