




  
<ng-container *ngIf="(gameService.me == gameService.turn) && gameService.secondPlayerJoined ; else elseTemplate">


 
<div class="grid glow">
  
    <div *ngFor="let a of gameService.getCells(); index as i">
      <app-cell class="cell"  [value] = "a[0]" (valueChange)="valueChange(a,0,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,0)"  >  </app-cell>
      <app-cell class="cell"  [value] = "a[1]" (valueChange)="valueChange(a,1,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,1)"  ></app-cell>
      <app-cell class="cell"  [value] = "a[2]" (valueChange)="valueChange(a,2,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,2)"  ></app-cell>
    </div>
  
  
  
  </div>

  <h3 class="status">  Your turn 

      ( {{gameService.me}}  )
    </h3>
  
</ng-container>
<ng-template #elseTemplate>

  

<div class="grid">
  
    <div *ngFor="let a of    gameService.getCells(); index as i">
      <app-cell class="cell"  [value] = "a[0]" (valueChange)="valueChange(a,0,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,0)"  >  </app-cell>
      <app-cell class="cell"  [value] = "a[1]" (valueChange)="valueChange(a,1,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,1)"  ></app-cell>
      <app-cell class="cell"  [value] = "a[2]" (valueChange)="valueChange(a,2,$event)" [winner]="gameService.winner" [isPart]= "isPart(i,2)"  ></app-cell>
    </div>
  
  
  
  </div>
  <h3 class="status"> 

      {{gameService.me}}  
    </h3>

  
</ng-template>




 <ng-container *ngIf="gameService.winner; else gameOver">




      Game over 
      <br>

      <ng-container *ngIf="gameService.winner[0]==gameService.me; else won">


          <div class="status win"> 
 


            you won
</div>
      
      </ng-container>
      <ng-template #won>
          <div class="status lose"> 
 


              you lose
  </div>
      </ng-template>
      

   
 </ng-container>
 <ng-template #gameOver>
   
 </ng-template>
 
 <h4> 
    GameKey: {{gameService.key}} 
     
     
    </h4>
 
 