.grid{

  display:inline-flex;
  text-align: center;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #434343); 
}

.glow{

  box-shadow: 0 0 200px pink;

  border-width: 1px;
  border-color: aquamarine;
  border-style: dotted;
}