.grid { 
    
    display: flex;                       /* establish flex container */
flex-wrap: wrap;                     /* enable flex items to wrap */
justify-content: space-around;

height: 500px;
width: 500px;


}
.cell {
    flex: 0 0 30%;                       /* don't grow, don't shrink, width */
  
    margin-bottom: 5px;
    background-color: #999;
  }
  /* .cell:nth-child(3n) {
    background-color: #F00;
  } */